table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  border-color: rgb(127,127,127);
  background-color: rgb(255,255,255);
  text-align: center;
}

th {
  border: 1px solid;
  border-collapse: collapse;
  border-color: rgb(127,127,127);
  text-align: left;
  background-color: rgb(203,203,203);
}

td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: rgb(127,127,127);
}

.tableText {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgb(0,0,0);
}

.button {
  border: none;
  outline: none;
  background-color: rgb(0,0,0);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgb(195,195,195);
}

#pageUp {
  width: 15%;
  height: 100%;
  float: left;
  background-color: rgb(51,51,51);
}

#pageDown {
  width: 15%;
  height: 100%;
  float: right;
  background-color: rgb(51,51,51);
}
